@import "tailwindcss";

/* @theme {
  --default-font-family: "Roboto", sans-serif;
  --font-family: "Roboto", sans-serif;
} */

.active {
  color: #588157;
  /* text-decoration: underline; */
}

html,
body,
.scrollbar-hide {
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}